.img {
  max-height: 80vh;
  max-width: 35vw;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 420px) {
  .centered {
    flex-direction: column;
  }
  .img {
    max-width: 500px;
    width: 40%;
  }
}
