@keyframes overlap {
  0% {
    flex: 0.45;
  }
  100% {
    flex: 5;
  }
}
h1 {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  height: 70vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
}
.left,
.right {
  background-size: cover;
  background-position: center;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.45;
  height: 70%;
  width: 50%;
  transition: flex 0.5s;
}
button p {
  background-color: rgb(255 220 220 / 25%);
  font-size: clamp(1rem, 10vw, 2rem);
}

.left:hover,
.right:hover {
  animation-name: overlap;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.left {
  background-image: linear-gradient(
    rgba(242, 109, 109, 0.6),
    rgba(242, 109, 109, 0.6)
  );
}
.right {
  background-image: linear-gradient(
    rgba(109, 179, 242, 0.6),
    rgba(109, 179, 242, 0.6)
  );
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  p {
    word-break: break-word;
  }
  h1 {
    word-break: break-word;
  }
}
