.cuerpo{
  width: 100vw;
  height: 70vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 80% auto;
  gap: 8px;
}

h1{
  padding: 0;
  margin: 0;
  font-size: clamp(1rem, 10vw, 2rem);
}
.encabezado {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
}

@media (max-width: 768px) {
  p, h1{
    word-break: break-word;
  }
}