<div [ngClass]="'d-flex flex-column align-items-center'" style="max-width: 100%;">
  <!-- Cells -->
  @for (guess of guesses; track guess) {
    <div [ngClass]="'d-flex align-items-center w-100 justify-content-center'">
      @for (cell of guess; track cell) {
        <div [ngClass]="'fs-0'" style="max-width:20%">
          <div [ngClass]="[cell.status, 'fs-0 wordCell d-flex justify-content-center align-content-center flex-wrap']"> <strong>{{cell.letter}}</strong></div>
        </div>
      }
    </div>
  }
  <!-- Cells End -->

  <strong [ngClass]="'p-2'" style="color:red">{{errorMessage}}</strong>

  <!-- Keyboard -->
  <div [ngClass]="'d-flex justify-content-center fs-0 alphabetRow'"> @for (letter of lettersRow1; track letter) {
    <button [ngClass]="[alphabetMap[letter] || '', 'alphabetCell btn btn-secondary d-flex']" (click)="onLetterClick(letter)">{{letter}}</button>
  } </div>
  <div [ngClass]="'d-flex justify-content-center fs-0 alphabetRow'">
    @for (letter of lettersRow2; track letter) {
      <button [ngClass]="[alphabetMap[letter] || '', 'alphabetCell btn btn-secondary d-flex']" (click)="onLetterClick(letter)">{{letter}}</button>
    }
    @if ( language=== 'ES') {
      <button [ngClass]="[alphabetMap['Ñ'] || '', 'alphabetCell btn btn-secondary d-flex']" (click)="onLetterClick('Ñ')">Ñ</button>
    }
  </div>

  <div [ngClass]="'d-flex justify-content-center fs-0 alphabetRow'">
    <button id="enterButton" [ngClass]="'alphabetCell btn btn-secondary d-flex'" (click)="onEnterClick()">{{buttonEnterText}}</button>
    @for (letter of lettersRow3; track letter) {
      <button [ngClass]="[alphabetMap[letter] || '','alphabetCell btn btn-secondary d-flex']" (click)="onLetterClick(letter)">{{letter}}</button>
    }
    <button [ngClass]="'alphabetCell btn btn-secondary d-flex'" (click)="onDeleteClick()">⌫</button>
  </div>
  <!-- Keyboard End -->

  <div [ngClass]="'d-flex justify-content-center align-items-center mt-3 gap-3'">
    <strong [ngClass]="'p-2'">Language:</strong>
    <select (change)="onLanguageChange($event)">
      <option value="EN" [selected]="language === 'EN'">English</option>
      <option value="ES" [selected]="language === 'ES'">Español</option>
    </select>

    <strong [ngClass]="'p-2'">Length:</strong>
    <select (change)="onLengthChange($event)">
      <option value="5" [selected]="wordLength === 5">5</option>
      <option value="7" [selected]="wordLength === 7">7</option>
    </select>
  </div>
</div>
