.correct{
    background-color: rgb(28, 126, 28);
}
.present{
    background-color: rgb(233, 212, 28);
}
.absent{
    background-color: rgb(121, 121, 121);
}
.fs-0{
    flex-shrink: 0;
}
.alphabetRow{
    width: 100%;
    gap: clamp(0px, 15px, 0.3vw);
}
.alphabetCell{
    width: clamp(0px, 10%, 40px);
    height: 40px;
    font-size: clamp(12px, 0.2rem, 24px);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.wordCell{
    height: clamp(35px, 8vw, 50px);
    width: clamp(35px, 8vw, 50px);
    margin: clamp(0px, 5px, 0.2em);
    border: solid black 1px;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}
#enterButton{
    min-width: 80px;
}
@media (max-width: 820px) {
    #enterButton{
        min-width: 0px;
    }
}