<link rel="stylesheet" href="./inicio.component.css">
<section>
    <p>
        Hola, mi nombre es Kevin, un apasionado de la programación con experiencia en [menciona tus principales habilidades o tecnologías]. He enfrentado desafíos y alcanzado logros significativos en proyectos como [menciona un logro destacado o proyecto reciente].
        <br><br>
        "La verdadera fuerza proviene de enfrentarse a los desafíos.", Esta cita resuena con mi enfoque en el esfuerzo y la determinación para superar obstáculos y alcanzar mis metas.
        <br><br>
        Bienvenido a mi portafolio, donde encontrarás ejemplos de mi trabajo y compromiso con el desarrollo web y la programación. ¡Espero que te inspire a alcanzar tus propios objetivos!
    </p>
    <h1> :p inicio </h1>
</section>