<link rel="stylesheet" href="./inicio.component.css" />
<section>
  <h1>Inicio :p</h1>
  <!-- <p>
        Hola, mi nombre es Kevin, un apasionado de la programación con experiencia en análisis de datos pero con interés en desarrollo. Me gusta enfrentar desafíos constantemente y ejemplos de esto son proyectos personales en los que he trabajo como los mostrados a continuación.
        <br><br>
        <cite><q>La verdadera fuerza proviene de enfrentarse a los desafíos.</q></cite>
        <br><br>
        Me gusta y me identifico con esta cita por mi determinación y esfuerzo empleado en superar obstáculos para alcanzar mis metas deseadas.
        <br><br>
        Bienvenido a mi portafolio, donde encontrarás ejemplos de mi trabajo y compromiso con el desarrollo web y la programación. Espero te guste.
    </p> -->
</section>
